@page
@model MISProject.Pages.ALEastModel
@{
    var teamID = HttpContext.Request.Query["teamID"];
}
<h2 id="divisionName" style="visibility:hidden"></h2>
<div id="teams" style="visibility:hidden"></div>

<script type="module">
    displayALEastTeams(@teamID)
</script>