@page
@model MISProject.Pages.NationalLeagueModel
@{
}
<head>
    <link rel="stylesheet" href="site.css" />
    <style>
        body {
            background-image: url('https://th.bing.com/th/id/R.f9c06f24622f58213b2dd6ee16371dd9?rik=nTdozkv1uMJ6zA&riu=http%3a%2f%2fgetwallpapers.com%2fwallpaper%2ffull%2f4%2f4%2fa%2f1072880-best-atlanta-braves-wallpapers-2560x1440.jpg&ehk=egXHjwN0fLTIBCgmzdX5BNkE7ppB5YaS%2bWFGfZsUtNo%3d&risl=&pid=ImgRaw&r=0');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }

        td:hover {
            background-color: dodgerblue;
        }
    </style>
</head>
<ul>
    <li><a href="/Nationals">Nationals</a></li>
    <li><a href="/Marlins">Marlins</a></li>
    <li><a href="/Phillies">Phillies</a></li>
    <li><a href="/Mets">Mets</a></li>
</ul>
<body>
<h2>Braves</h2>
    <p>2023 Season</p>
<table>
    <tr>
        <th>Games Played</th>
        <th>Wins</th>
        <th>Losses</th>
    </tr>
    <tr>
     <td>162</td>
     <td>104</td>
     <td>58</td>
    </tr>
    </table>
</body>