@page
@model MISProject.Pages.DivisionsModel
@{
    var DivisionName = HttpContext.Request.Query["DivisionName"];
}
<a href="/Divisions?DivisionName=AL East">AL East</a>


<body>

    <div id="names" style="color: black; visibility: hidden;"></div>

    <script>
        async function displayTeams(DivisionName) {
            try {
                const response = await fetch(`https://localhost:7270/api/Team/getteamsbydivision?DivisionName=${DivisionName}`);
                const data = await response.json();

                console.log("Data received from API:", data);

                const divisionsElement = document.getElementById('names');
                divisionsElement.innerHTML = '';

                data.forEach(team => {
                    const teamElement = document.createElement('div');
                    teamElement.textContent = team.name;
                    divisionsElement.appendChild(teamElement);
                });

                console.log("Teams displayed successfully.");

                divisionsElement.style.visibility = 'visible';
            } catch (error) {
                console.error("An error occurred:", error);
            }
        }

        displayTeams("@DivisionName");
    </script>

</body>
