@page
@model MISProject.Pages.DivisionsModel
@{
    var DivisionName = HttpContext.Request.Query["DivisionName"];
}
<a href="/Divisions?DivisionName=AL East">AL East</a>


<body>
    <div id="names" style="visibility: hidden;"></div>

    <script>
        async function displayDivisions(DivisionName) {
            const response = await fetch(`https://localhost:7270/api/Team/getteamsbydivision?DivisionName=${DivisionName}`);
            const data = await response.json();
            const divisionsElement = document.getElementById('names');

            divisionsElement.innerHTML = '';
            /**
            data.forEach(team => {
                const teamElement = document.createElement('div');
                teamElement.textContent = team.name; // Assuming the team object has a 'name' property
                divisionsElement.appendChild(teamElement);
            });
             */
            divisionsElement.style.visibility = 'visible';
        }

        displayDivisions("@DivisionName");
    </script>
</body>
