@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1> Baseball Climate Tracker!</h1>
<form action ="/searchResults">
<label for="tmDrop">Team Name</label>
    <select name="tmDrop">
        <option value="1">Phillies</option>
        <option value="2">Pirates</option>
        <option value="3">Reds</option>
    </select>
<label for="temp">Tempature (F)</label>
<input type="number" id="temp" step="any" name="Tempature" />
<label for="startDateInp">Date</label>
<input type="date" id="DateInp" name="selectedDate" />
</form>