@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1> Baseball Climate Tracker!</h1>
<form action ="/searchResults">
<label for="tmDrop">League</label>
    <select name="tmDrop">
        <option value="1">National League</option>
        <option value="2">American League</option>
    </select>
<label for="division">Divison</label>
    <select name="division">
        <option value="1">West</option>
        <option value="2">Central</option>
        <option value="3">East</option>
    </select>
    <input type="submit" id="submitBtn" value="Search" class="btn btn-primary" />
</form>

<body>
    <a href="/NationalLeague">
        National League 
    </a> 
    
    <a href="/AmericanLeague">
        American League
    </a>
</body>