@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<head>
    <link rel="stylesheet" href="site.css" />
    <style>
        body {
            background-image: url('https://sportsmatik.com/uploads/thumbs/700x500/wiki-venues/citizens-bank-park_1582023244.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }
    </style>
</head>

<h1> Baseball Climate Tracker!</h1>
<h3>Please Select the National League East team you want to see climate data for</h3>
<body>
    <a href="/Phillies">
        <strong>Phillies </strong>
    </a> 
    <br />
    <a href="/Braves">
    <strong>Braves</strong>
    </a>
    <br />
    <a href="/Marlins">
    <strong>Marlins</strong>
    </a>
    <br />
    <a href="/Mets">
    <strong>Mets</strong>
    </a>
    <br />
    <a href="/Nationals">
    <strong>Nationals</strong>
    </a>
</body>