@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    var position = HttpContext.Request.Query["position"];
}
<head>
    <link rel="stylesheet" href="site.css" />
    <style>
        body {
            background-color:cornflowerblue;          
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }
        #main{
            background-color: white;
            border:solid 2px;
            display: flex;
            justify-content:space-around;
        }
        #Head{
            background-color: indianred;
            display: flex;
            justify-content:space-around;
        }
    </style>
</head>

<h1 id="Head"> Baseball Climate Tracker!</h1>
<h3 id="Head">Please Select the National League East team you want to see climate data for</h3>
<body>
<div id="main">
    <div style="background-color:white;">
        <a href="/Phillies">Phillies </a>
    </div>
    <div style="background-color:white;">
        <a href="/Braves">Braves</a>
    </div>
    <div style="background-color:white;">
        <a href="/Mets">Mets</a>
    </div>
    <div style="background-color:white;">
        <a href="/Marlins">Marlins </a>
    </div>
    <div style="background-color:white;">
        <a href="/Nationals">Nationals</a>
    </div>
        <div> 
            <a href="'https://localhost:7270/api/Team/getteamsbydivision?DivisionName=Al%20east'">AL East</a>
        </div>
        <div>
            <a href="/playerPosition">Find Player by Position</a>
        </div>
    </div>
</body>      

<body>
    <div class="app-main" id="parent">
        <div class="header">
            <h4>Check the stadium weather before you go!</h4>
        </div>
        <div class="searchInputBox">
            <input type="text" name="" id="input-box" class="input-box" placeholder="enter city name">
        </div>
        <div class="weather-body" id="weather-body">
        </div>

    </div>


    <script src="script.js"></script>
   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
          integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
   
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>




    


</body>