@page
@model MISProject.Pages.MarlinsModel
@{
}
<head>
    <link rel="stylesheet" href="site.css" />
    <style>
        body {
            background-image: url('https://www.gannett-cdn.com/-mm-/622b6c9405208c3cf3a5fdd7094ac608c076344c/c=0-66-4137-2401/local/-/media/USATODAY/USATODAY/2013/09/17/1379446228000-2013-09-17-marlins.jpg?width=3200&height=1807&fit=crop&format=pjpg&auto=webp');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }

        td:hover {
            background-color: dodgerblue;
        }
    </style>
</head>
<ul>
    <li><a href="/Nationals">Nationals</a></li>
    <li><a href="/Phillies">Phillies</a></li>
    <li><a href="/Braves">Braves</a></li>
    <li><a href="/Mets">Mets</a></li>
</ul>
<body>
<h2>Marlins</h2>
    <p>2023 Season</p>
<table>
        <tr>
            <th>Date</th>
            <th>Win/Loss</th>
            <th>Temp</th>
        </tr>
        <tr>
            <td>1/1/2022</td>
            <td class='win'>W</td>
            <td>85 F</td>
        </tr>
        <tr>
            <td>1/2/2022</td>
            <td id="loss">L</td>
            <td>84 F</td>
        </tr>
        <tr>
            <td>1/3/2022</td>
            <td class='win'>W</td>
            <td>85 F</td>
        </tr>
        <tr>
            <td>1/4/2022</td>
            <td id="loss">W</td>
            <td>70 F</td>
        </tr>
        <tr>
            <td>1/5/2022</td>
            <td class='win'>W</td>
            <td>85 F</td>
        </tr>
        <tr>
            <td>1/6/2022</td>
            <td id="loss">L</td>
            <td>68 F</td>
        </tr>
    </table>
</body>