@page
@model MISProject.Pages.MetsModel
@{
}
<head>
    <link rel="stylesheet" href="site.css" />
    <style>
        body {
            background-image: url('https://www.ballparksofbaseball.com/wp-content/uploads/2016/03/citi17951.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }

        td:hover {
            background-color: dodgerblue;
        }
    </style>
</head>
<ul>
    <li><a href="/Nationals">Nationals</a></li>
    <li><a href="/Marlins">Marlins</a></li>
    <li><a href="/Braves">Braves</a></li>
    <li><a href="/Phillies">Phillies</a></li>
</ul>

<body>
<H2>Mets</H2>
    <p>2023 Season</p>
<table>
    <tr>
        <th>Games Played</th>
        <th>Wins</th>
        <th>Losses</th>
    </tr>
        <tr>
            <td>162</td>
            <td>75</td>
            <td>87</td>
        </tr>
    </table>
</body>