@page
@model MISProject.Pages.AmericanLeagueModel
@{
}
<head>
    <link rel="stylesheet" href="site.css" />
    <style>
        body {
            background-image: url('https://images.fineartamerica.com/images-medium-large-5/citizens-bank-park-philadelphia-phillies-aaron-couture.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }
        td:hover {background-color: dodgerblue;}
    </style>
</head>

<ul>
    <li><a href="/Nationals">Nationals</a></li>
    <li><a href="/Marlins">Marlins</a></li>
    <li><a href="/Braves">Braves</a></li>
    <li><a href="/Mets">Mets</a></li>
</ul>


<body>
<h2>Phillies</h2>
<p>2023 Season</p>
<table>
    <tr>
        <th>Date</th>
        <th>Win/Loss</th>
        <th>Temp</th>
    </tr>
    <tr>
        <td>1/1/2022</td>
        <td class='win'>W</td>
        <td>85 F</td>
    </tr>
    <tr>
        <td>1/2/2022</td>
        <td id="loss"> </td>
        <td>85 F</td>
    </tr>
</table>
</body> 
