@page
@model MISProject.Pages.playerStatModel
@{

}



<form id="playerForm" action="https://localhost:7270/api/Stat/" method="get">
    <label for="name">Name:</label>
    <input type="text" id="name" name="Name" placeholder="Enter name">
    <button type="submit">Search</button>
</form>


<h2 id="name" style="visibility: visible;"></h2>
<div id="hits" style="visibility: visible;"></div>
<div id="strikeouts" style="visibility: visible;"></div>
<div id="homeruns" style="visibility:visible"></div>


