@page
@model MISProject.Pages.playerPositionModel
@{
    var position = Request.Query["position"];

}
<h1> This is the right page you just cant put the info in stupid</h1>
<h2 id="name" style="visibility: hidden;"></h2>
<div id="number" style="visibility: hidden;"></div>
<div id="position" style="visibility: hidden;"></div>

<script type="module">displayPlayerPos(@position)</script>