@page
@model MISProject.Pages.playerPositionModel
@{
    var position = HttpContext.Request.Query["position"];
}
<head>
    <link rel="stylesheet" href="site.css" />
    <style>
    </style>
</head>
<body>
    <h1>Player by position</h1>
    <h2 style="color:black" id="names" style="visibility: hidden;"></h2>
    <div style="color:black" id="numbers" style="visibility: hidden;"></div>
    <div style="color:black" id="positions" style="visibility: hidden;"></div>
 

</body>