@page
@model MISProject.Pages.playerStatModel
@{
    var name = Request.Query["name"];

}



<form id="playerForm">
    <input type="text" id="name" value="Name of Player" name="name" />
</form>


<h2 id="name" style="visibility: visible;"></h2>
<div id="hits" style="visibility: visible;"></div>
<div id="strikeouts" style="visibility: visible;"></div>
<div id="homeruns" style="visibility:visible"></div>


<script type="module">displayPlayerStats(name)</script>
