@page
@model MISProject.Pages.playerStatModel
@{
    var Name = HttpContext.Request.Query["Name"];
}


<!-- This page does not work, but we wanted to include it to show the work we hope to accomplish-->

<form id="locationForm" action="/playerStat">
    <input type="text" id="Name" name="Name" />
    <input type="submit" id="submitBtn" value="Search" class="btn btn-primary" />
</form>

<div id="Hits" style="visibility: hidden; color: black;"></div>
<div id="Strikeouts" style="visibility: hidden; color: black;"> </div>
<div id="Homeruns" style="visibility: hidden; color: black;"> </div>

<script type="module">
    displayPlayerStats(@Name)
</script>

