@page
@model MISProject.Pages.searchResultsModel
@{
    var position = Request.Query["position"];

}

<div id="results"></div>
<div id="searchResults"></div>

<script type="module">
    displaySearchResults("@position");
</script>
