@page
@model MISProject.Pages.TeamModel
@{
    var teamID = HttpContext.Request.Query["teamID"];
}

<a href="/Team?teamID=1">Yankees</a>
<a href="/Team?teamID=2">Red Sox</a>
<a href="/Team?teamID=3">Rays</a>
<a href="/Team?teamID=4">Blue Jays</a>
<a href="/Team?teamID=5">Orioles</a>
<a href="/Team?teamID=6">White Sox</a>
<a href="/Team?teamID=7">Indians</a>
<a href="/Team?teamID=8">Tigers</a>
<a href="/Team?teamID=9">Royals</a>
<a href="/Team?teamID=10">Twins</a>
<a href="/Team?teamID=11">Astros</a>
<a href="/Team?teamID=12">Athletics</a>
<a href="/Team?teamID=13">Angels</a>
<a href="/Team?teamID=14">Mariners</a>
<a href="/Team?teamID=15">Rangers</a>
<a href="/Team?teamID=16">Braves</a>
<a href="/Team?teamID=17">Mets</a>
<a href="/Team?teamID=18">Nationals</a>
<a href="/Team?teamID=19">Phillies</a>
<a href="/Team?teamID=20">Marlins</a>
<a href="/Team?teamID=21">Cubs</a>
<a href="/Team?teamID=22">Cardinals</a>
<a href="/Team?teamID=23">Brewers</a>
<a href="/Team?teamID=24">Reds</a>
<a href="/Team?teamID=25">Pirates</a>
<a href="/Team?teamID=26">Dodgers</a>
<a href="/Team?teamID=27">Giants</a>
<a href="/Team?teamID=28">Padres</a>
<a href="/Team?teamID=29">Rockies</a>
<a href="/Team?teamID=30">Diamondbacks</a>


<body>
    <div id="names" style="visibility: hidden;"></div>
    <div id="numbers" style="visibility: hidden;"></div>
    <div id="positions" style="visibility: hidden;"></div>
    <div id="teamIDs" style="visibility: hidden;"></div>
    <script>
       
        async function displayPlayers(teamID) {
            const response = await fetch(`https://localhost:7270/api/Player/getplayerdetails?TeamID=${teamID}`);
            const data = await response.json();
            const namesElement = document.getElementById('names');
            const numbersElement = document.getElementById('numbers');
            
            namesElement.innerHTML = '';
            numbersElement.innerHTML = '';

            data.forEach(player => {
               
                const playerDiv = document.createElement('div');

            
                playerDiv.textContent = `${player.name} ${player.number}`;

               
                namesElement.appendChild(playerDiv);
            });

           
            namesElement.style.visibility = 'visible';
            numbersElement.style.visibility = 'hidden'; // Hide numbers element since we're displaying them together with names
        }
       
        displayPlayers("@teamID");
    </script>
</body>