@page
@model MISProject.Pages.TeamModel
@{
    var teamID = HttpContext.Request.Query["teamID"];
}

<a href="/Team?teamID=1">Catcher</a>






<body>
    <h2 style="color:black" id="teamIDs" style="visibility: hidden;"></h2>
    <div style="color:black" id="names" style="visibility: hidden;"></div>
    <div style="color:black" id="numbers" style="visibility: hidden;"></div>
    <div style="color:black" id="positions" style="visibility: hidden;"></div>

    <script>
        // Define the displayPlayerPos function
        async function displayPlayers(teamID) {
            const response = await fetch(`https://localhost:7270/api/Player/getplayerdetails?TeamID=${teamID}`);
            const data = await response.json();
            const teamIDsElement = documnet.getElementById('teamIds')
            const namesElement = document.getElementById('names');
            const numbersElement = document.getElementById('numbers');
            const positionsElement = document.getElementById('positions');
            // Clear previous data
            teamIDsElement.innerHTML = '';
            namesElement.innerHTML = '';
            numbersElement.innerHTML = '';
            positionsElement.innerHTML = '';
            data.forEach(Team => {
                // Create new elements for each player
                const teamIDElement = document.createElement('div');
                nameElement.innerHTML = team.name
                teamIDsElement.appendChild(teamIDElement)
                const nameElement = document.createElement('div');
                nameElement.innerHTML = team.name;
                namesElement.appendChild(nameElement);
                const numberElement = document.createElement('div');
                numberElement.innerHTML = team.number;
                numbersElement.appendChild(numberElement);
                const positionElement = document.createElement('div');
                positionElement.innerHTML = team.position;
                positionsElement.appendChild(positionElement);
            });
            // Make elements visible
            teamIDsElement.style.visibility = 'visible';
            namesElement.style.visibility = 'visible';
            numbersElement.style.visibility = 'visible';
            positionsElement.style.visibility = 'hidden';
        }
        // Call the function with the position parameter
        displayPlayers("@teamID");
    </script>

</body>

