@page
@model MISProject.Pages.WeatherImpactModel
@{
}
<head>
    <link rel="stylesheet" href="site.css" />
    <style>
        #Head {
            display: flex;
            justify-content: space-around;
            font-family: Impact;
            color: ghostwhite;
        }

            #Head a {
                margin: 0 10px;
                color: white;
            }

        #names {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
        }

        body {
            background-color: cornflowerblue;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }

        #main {
            background-color: ghostwhite;
            border: solid 2px;
            display: flex;
            justify-content: space-around;
        }
    </style>
</head>


<body>
    <div class="container">
        
        <h1 style="text-align:center; color:ghostwhite;">Explore how Weather Impacts Stats</h1>
       
        <table>
            <thead>
                <tr>
                    
                    <th>Location</th>
                    <th>Temperature (°F)</th>
                    <th>Wind Speed (mph)</th>
                    <th>Impact on Stats</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                   
                    <td>New York City</td>
                    <td>35</td>
                    <td>15</td>
                    <td>Increased home runs due to strong tailwind.</td>
                </tr>
                <tr>
                  
                    <td>Los Angeles</td>
                    <td>65</td>
                    <td>5</td>
                    <td>Decreased batting averages due to heavy humidity.</td>
                </tr>
                <tr>
             
                    <td>Chicago</td>
                    <td>30</td>
                    <td>10</td>
                    <td>Decreased batting averages due to cold temperatures.</td>
                </tr>
                <tr>
                  
                    <td>Houston</td>
                    <td>70</td>
                    <td>12</td>
                    <td>Increased home runs due to warm weather.</td>
                </tr>
                <tr>
                   
                    <td>Atlanta</td>
                    <td>55</td>
                    <td>8</td>
                    <td>Neutral impact on stats.</td>
                </tr>
                <tr>
                   
                    <td>San Francisco</td>
                    <td>55</td>
                    <td>10</td>
                    <td>Decreased home runs due to heavy fog.</td>
                </tr>
                <tr>
                   
                    <td>Seattle</td>
                    <td>40</td>
                    <td>8</td>
                    <td>Neutral impact on stats.</td>
                </tr>
                <tr>
                    
                    <td>Toronto</td>
                    <td>32</td>
                    <td>12</td>
                    <td>Decreased batting averages due to cold temperatures.</td>
                </tr>
                <tr>
                    
                    <td>Washington D.C.</td>
                    <td>45</td>
                    <td>6</td>
                    <td>Neutral impact on stats.</td>
                </tr>
                <tr>
                   
                    <td>Minnesota</td>
                    <td>25</td>
                    <td>10</td>
                    <td>Decreased batting averages due to cold temperatures.</td>
                </tr>
                <tr>
                  
                    <td>Baltimore</td>
                    <td>38</td>
                    <td>7</td>
                    <td>Neutral impact on stats.</td>
                </tr>
            </tbody>
        </table>
    </div>
 
</body>